@charset "UTF-8";
/*Core*/
/*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:12
    */
@font-face {
  font-family: "Flaticon";
  src: url("../scss/font/flaticon.eot");
  src: url("../scss/font/flaticon.eot?#iefix") format("embedded-opentype"), url("../scss/font/flaticon.woff") format("woff"), url("../scss/font/flaticon.ttf") format("truetype"), url("../scss/font/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../scss/font/flaticon.svg#Flaticon") format("svg"); } }

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "\f11d"; }

.flaticon-3d-ship:before {
  content: "\f100"; }

.flaticon-battery-full-charge:before {
  content: "\f101"; }

.flaticon-burning-oil-tower:before {
  content: "\f102"; }

.flaticon-businessman-with-helmet:before {
  content: "\f103"; }

.flaticon-car-battery:before {
  content: "\f104"; }

.flaticon-cargo-ship:before {
  content: "\f105"; }

.flaticon-charging-battery-status:before {
  content: "\f106"; }

.flaticon-chemistry-atoms:before {
  content: "\f107"; }

.flaticon-circular-saw:before {
  content: "\f108"; }

.flaticon-co2-inside-cloud:before {
  content: "\f109"; }

.flaticon-construction-crane:before {
  content: "\f10a"; }

.flaticon-construction-crane-1:before {
  content: "\f10b"; }

.flaticon-construction-crane-2:before {
  content: "\f10c"; }

.flaticon-construction-truck:before {
  content: "\f10d"; }

.flaticon-electric-car:before {
  content: "\f10e"; }

.flaticon-electric-plug:before {
  content: "\f10f"; }

.flaticon-european-plug:before {
  content: "\f110"; }

.flaticon-european-socket:before {
  content: "\f111"; }

.flaticon-factory-silhouette:before {
  content: "\f112"; }

.flaticon-fire-flame:before {
  content: "\f113"; }

.flaticon-gas-can:before {
  content: "\f114"; }

.flaticon-gas-pump:before {
  content: "\f115"; }

.flaticon-gas-pump-1:before {
  content: "\f116"; }

.flaticon-high-speed-train:before {
  content: "\f117"; }

.flaticon-house-with-tree-leaf:before {
  content: "\f118"; }

.flaticon-industrial-pipe:before {
  content: "\f119"; }

.flaticon-industrial-pipe-1:before {
  content: "\f11a"; }

.flaticon-industrial-pipe-2:before {
  content: "\f11b"; }

.flaticon-light-bulb:before {
  content: "\f11c"; }

.flaticon-light-bulb-1:before {
  content: "\f11d"; }

.flaticon-light-bulb-2:before {
  content: "\f11e"; }

.flaticon-light-bulb-inside-circle:before {
  content: "\f11f"; }

.flaticon-mine-cart:before {
  content: "\f120"; }

.flaticon-mine-cart-1:before {
  content: "\f121"; }

.flaticon-nuclear-plant-chimneys:before {
  content: "\f122"; }

.flaticon-oil-drum:before {
  content: "\f123"; }

.flaticon-oil-drum-1:before {
  content: "\f124"; }

.flaticon-oil-platform:before {
  content: "\f125"; }

.flaticon-oil-pumpjack-extraction:before {
  content: "\f126"; }

.flaticon-oil-tower:before {
  content: "\f127"; }

.flaticon-pick-tool:before {
  content: "\f128"; }

.flaticon-pressure-indicator:before {
  content: "\f129"; }

.flaticon-recycling-truck:before {
  content: "\f12a"; }

.flaticon-refresh-arrows:before {
  content: "\f12b"; }

.flaticon-rounded-plug:before {
  content: "\f12c"; }

.flaticon-rubbish-can:before {
  content: "\f12d"; }

.flaticon-silhouette-pushing-wheelbarrow:before {
  content: "\f12e"; }

.flaticon-solar-panels:before {
  content: "\f12f"; }

.flaticon-sun-with-plug:before {
  content: "\f130"; }

.flaticon-toxic-sign:before {
  content: "\f131"; }

.flaticon-train-tank-wagon:before {
  content: "\f132"; }

.flaticon-transmission-tower:before {
  content: "\f133"; }

.flaticon-wall-socket:before {
  content: "\f134"; }

.flaticon-water-can:before {
  content: "\f135"; }

.flaticon-water-drop:before {
  content: "\f136"; }

.flaticon-water-truck:before {
  content: "\f137"; }

.flaticon-wind-turbines:before {
  content: "\f138"; }

.flaticon-worker-helmet:before {
  content: "\f139"; }

.flaticon-worker-with-shovel:before {
  content: "\f13a"; }

.flaticon-world-grid-with-arrow:before {
  content: "\f13b"; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

a.with-icon::after {
  font-family: 'Material Icons';
  content: "chevron_right";
  -webkit-font-feature-settings: 'liga' 1;
  -moz-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
  padding-left: 0.15em;
  position: relative;
  transition: 0.15s padding ease;
  top: 4px; }

a.with-icon:hover {
  text-decoration: none; }
  a.with-icon:hover::after {
    padding-left: 0.5em; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 16px;
  color: #333333;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; }

h1, .h1 {
  font-size: 3.8rem;
  line-height: 1.15em;
  margin-bottom: 1.25em; }

h2, .h2 {
  font-size: 2.6rem;
  margin-bottom: 1.25em; }

h3, .h3 {
  font-size: 1.825rem;
  line-height: 1.4em;
  margin-bottom: 1.25em; }

h4, .h4 {
  font-size: 1.3rem;
  line-height: 1.4em;
  margin-bottom: 1.25em; }

h5, .h5 {
  font-size: 1.25rem;
  line-height: 1.4em;
  margin-bottom: 1.25em; }

h6, .h6 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500; }

.title,
.title a,
.card-title,
.card-title a,
.info-title,
.info-title a,
.footer-brand,
.footer-brand a,
.footer-big h5,
.footer-big h5 a,
.footer-big h4,
.footer-big h4 a,
.media .media-heading,
.media .media-heading a {
  color: #3C4858;
  text-decoration: none; }

.card-blog .card-title {
  font-weight: 700; }

.description,
.card-description,
.footer-big p {
  color: #999999; }

.alert, p, button.btn {
  font-size: 16px; }

a {
  color: #001e37; }
  a:visited {
    color: #001e37; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #eeeeee;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #eeeeee; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #eeeeee; }

.form-group {
  margin-bottom: 0; }

.location {
  position: absolute;
  top: 0;
  left: 0;
  background: #f63495;
  padding: 10px;
  line-height: 20px;
  color: #ffffff; }

.btn {
  font-weight: bold; }
  .btn.btn-lg {
    font-size: 1em; }
  .btn.btn-primary {
    background: #f63495;
    border-color: #f63495;
    color: #001e37; }
    .btn.btn-primary:hover {
      background: #001e37;
      border-color: #001e37;
      color: #f63495;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
      -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
      box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5); }
  .btn.btn-secondary {
    background: #001e37;
    border-color: #001e37; }
    .btn.btn-secondary:hover {
      background: #f63495;
      border-color: #f63495;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
      -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
      box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5); }
  .btn.btn-white {
    background: #ffffff;
    border-color: #ffffff;
    color: #001e37; }
    .btn.btn-white:hover {
      background: #001e37;
      border-color: #001e37;
      color: #ffffff; }
  .btn.btn-simple {
    color: #f63495;
    background: none;
    padding: 0; }
    .btn.btn-simple:hover {
      background: none;
      text-decoration: underline; }

.navbar-toggler .menu-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 4;
  background: none; }
  .navbar-toggler .menu-icon:focus, .navbar-toggler .menu-icon:visited {
    border: none; }
  .navbar-toggler .menu-icon:hover {
    opacity: 0.7;
    border: none; }
  .navbar-toggler .menu-icon .menu-icon-box {
    width: 30px;
    height: 18px;
    display: inline-block;
    position: relative;
    border: 0; }
    .navbar-toggler .menu-icon .menu-icon-box .menu-icon-inner {
      background-color: #fff;
      transition-duration: 0.4s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      display: block;
      background-color: #000000;
      content: "";
      top: 50%;
      margin-top: 0;
      width: 30px;
      height: 4px;
      border-radius: 2px;
      transition-duration: 0.4s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .navbar-toggler .menu-icon .menu-icon-box .menu-icon-inner::before {
        top: 10px;
        transition: opacity 0.15s 0.4s ease;
        content: "";
        display: block;
        width: 30px;
        height: 4px;
        background-color: #000000;
        border-radius: 2px;
        position: absolute;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        transition-duration: 0.15s;
        transition-timing-function: ease; }
      .navbar-toggler .menu-icon .menu-icon-box .menu-icon-inner::after {
        top: 20px;
        transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        content: "";
        display: block;
        width: 30px;
        height: 4px;
        background-color: #000000;
        border-radius: 2px;
        position: absolute;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
        bottom: -10px; }

.navbar-toggler[aria-expanded="true"] .menu-icon .menu-icon-box .menu-icon-inner {
  transition-duration: 0.4s;
  background-color: #000000;
  -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.1s; }
  .navbar-toggler[aria-expanded="true"] .menu-icon .menu-icon-box .menu-icon-inner::after {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    bottom: -19px;
    background-color: #000000; }
  .navbar-toggler[aria-expanded="true"] .menu-icon .menu-icon-box .menu-icon-inner::before {
    transition-delay: 0s;
    opacity: 0;
    background-color: #000000; }

/*Layout*/
.header {
  height: 70px;
  background: #ffffff;
  border-bottom: 1px solid #eee; }
  .header > .row {
    margin: 0 !important; }
  .header ul.lng-nav li > a {
    line-height: 70px;
    padding: 0 2rem;
    border-left: 1px solid #eee; }

.menu {
  width: 100%; }

.navbar {
  padding: 0; }
  .navbar .navbar-collapse .navbar-nav li.nav-item {
    height: 70px; }
    .navbar .navbar-collapse .navbar-nav li.nav-item a {
      padding-top: 0;
      padding-bottom: 0;
      font-size: 1.1em; }
      .navbar .navbar-collapse .navbar-nav li.nav-item a.nav-link {
        padding: 0 2rem;
        color: #001e37;
        height: 70px;
        line-height: 65px;
        border-bottom-color: #ffffff; }
        .navbar .navbar-collapse .navbar-nav li.nav-item a.nav-link:hover, .navbar .navbar-collapse .navbar-nav li.nav-item a.nav-link.active {
          border-bottom: 5px solid #f63495; }
        .navbar .navbar-collapse .navbar-nav li.nav-item a.nav-link.active {
          font-weight: 500;
          border-bottom: 5px solid #f63495; }

.navbar-toggler {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 9; }
  .navbar-toggler i {
    font-size: 40px;
    top: -4px;
    position: relative; }
  .navbar-toggler.collapsed .navbar-toggler-icon #close {
    display: none; }
  .navbar-toggler.collapsed .navbar-toggler-icon #menu {
    display: block; }
  .navbar-toggler .navbar-toggler-icon #close {
    display: block; }
  .navbar-toggler .navbar-toggler-icon #menu {
    display: none; }

.section.intro {
  position: relative;
  background: url(../images/assets/home_hero.jpg) no-repeat left top;
  background-size: cover; }
  .section.intro.services--hero {
    background: url(../images/assets/services.jpg) no-repeat center center;
    background-size: cover; }
  .section.intro .intro__form {
    position: relative;
    z-index: 4;
    background: rgba(0, 0, 0, 0.75); }
    .section.intro .intro__form .form-group label {
      color: #ffffff;
      line-height: calc(2.25rem + 2px); }
    .section.intro .intro__form .btn-group label {
      color: #ffffff;
      line-height: calc(2.25rem + 2px); }
    .section.intro .intro__form .btn-group button.btn.btn-secondary {
      height: 50px;
      width: 50px;
      border-radius: 50% !important;
      margin-right: 1rem;
      background: #ffffff;
      color: #f63495;
      border-color: #ffffff; }
      .section.intro .intro__form .btn-group button.btn.btn-secondary:hover {
        background: #f63495;
        color: #ffffff;
        border-color: #f63495; }
      .section.intro .intro__form .btn-group button.btn.btn-secondary i.material-icons {
        font-size: 26px;
        position: relative;
        top: 3px;
        left: -1px; }
  .section.intro .intro__bottom--left--element__header--one {
    position: absolute;
    z-index: 2;
    bottom: 7rem;
    right: left;
    background: #f63495;
    height: 6rem;
    padding: 0 0 0 16rem;
    width: 36rem;
    content: "";
    -webkit-clip-path: polygon(0% 0, 95% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0, 95% 0, 100% 100%, 0% 100%); }
    .section.intro .intro__bottom--left--element__header--one h2 {
      margin-bottom: 0;
      line-height: 6rem;
      color: #ffffff; }
  .section.intro .intro__bottom--left--element__header--two {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: left;
    background: #f63495;
    height: 6rem;
    padding: 0 0 0 16rem;
    width: 46rem;
    content: "";
    -webkit-clip-path: polygon(0% 0, 95% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0, 95% 0, 100% 100%, 0% 100%); }
    .section.intro .intro__bottom--left--element__header--two h2 {
      margin-bottom: 0;
      line-height: 6rem;
      color: #ffffff; }
  .section.intro .intro__bottom--left--element__triangle {
    position: absolute;
    z-index: 3;
    bottom: -7rem;
    left: 0;
    background: #a30755;
    width: 14rem;
    height: 26rem;
    content: "";
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
    clip-path: polygon(0 0, 0% 100%, 100% 50%); }

.section.about--us {
  padding-top: 10rem;
  padding-bottom: 15rem;
  position: relative;
  background: #001e37;
  background: -webkit-linear-gradient(bottom, #001e37 0%, #00416e 100%);
  background: -o-linear-gradient(bottom, #001e37 0%, #00416e 100%);
  background: linear-gradient(to top, #001e37 0%, #00416e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161d48', endColorstr='#060714', GradientType=1 );
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); }
  .section.about--us h2 a {
    color: #f63495; }
  .section.about--us .tile {
    color: #ffffff;
    height: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: about-us-tile-top;
    background: -webkit-linear-gradient(top, #024a7c 0%, rgba(2, 65, 116, 0.25) 100%);
    background: -o-linear-gradient(top, #024a7c 0%, rgba(2, 65, 116, 0.25) 100%);
    background: linear-gradient(to bottom, #024a7c 0%, rgba(2, 65, 116, 0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161d48', endColorstr='#024174', GradientType=1 ); }
    .section.about--us .tile h1 {
      margin: 0.4em 0 0 0;
      line-height: 1em; }
    .section.about--us .tile h5 {
      font-size: 1rem;
      margin-bottom: 0; }
    .section.about--us .tile.tile--one {
      -webkit-clip-path: polygon(2% 5%, 5% 85%, 90% 100%, 100% 0%);
      clip-path: polygon(2% 5%, 5% 85%, 90% 100%, 100% 0%); }
    .section.about--us .tile.tile--two {
      -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%); }
    .section.about--us .tile.tile--three {
      -webkit-clip-path: polygon(0% 0%, 10% 100%, 90% 95%, 100% 0%);
      clip-path: polygon(0% 0%, 10% 100%, 90% 95%, 100% 0%); }
    .section.about--us .tile.tile--four {
      -webkit-clip-path: polygon(10% 0%, 0% 95%, 100% 100%, 95% 0%);
      clip-path: polygon(10% 0%, 0% 95%, 100% 100%, 95% 0%); }
    .section.about--us .tile.tile--five {
      -webkit-clip-path: polygon(5% 0%, 10% 100%, 100% 90%, 90% 0%);
      clip-path: polygon(5% 0%, 10% 100%, 100% 90%, 90% 0%); }
  .section.about--us .about-us__top--right--element {
    position: absolute;
    top: 0;
    right: 0;
    background: #f63495;
    width: 30rem;
    height: 7rem;
    content: "";
    -webkit-clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 100% 0%); }

.section.about--us__page {
  position: relative;
  background: url(../images/assets/about.jpg) no-repeat left top;
  background-size: 90%;
  background-position: center center;
  min-height: 1000px; }
  .section.about--us__page .about-us__page--intro {
    position: absolute;
    z-index: 2;
    bottom: -2rem;
    left: 0;
    padding: 2.5% 5% 2.5% 2.5%;
    background: #f63495;
    width: 40%;
    content: "";
    -webkit-clip-path: polygon(0% 0, 95% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0, 95% 0, 100% 100%, 0% 100%); }
    .section.about--us__page .about-us__page--intro h2 {
      margin-bottom: 0;
      line-height: 6rem;
      color: #001e37; }
    .section.about--us__page .about-us__page--intro p {
      font-size: 1.2em;
      color: #001e37; }

.section.our--strategy {
  padding-top: 10rem;
  padding-bottom: 15rem;
  position: relative;
  background: #ffffff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); }
  .section.our--strategy h2 a {
    color: #f63495; }
  .section.our--strategy .tile {
    color: #ffffff;
    height: 300px;
    background: about-us-tile-top;
    background: -webkit-linear-gradient(top, #002039 0%, rgba(2, 65, 116, 0.95) 100%);
    background: -o-linear-gradient(top, #002039 0%, rgba(2, 65, 116, 0.95) 100%);
    background: linear-gradient(to bottom, #002039 0%, rgba(2, 65, 116, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161d48', endColorstr='#024174', GradientType=1 ); }
    .section.our--strategy .tile h3 {
      font-size: 1.3rem; }
    .section.our--strategy .tile p {
      font-size: 0.85em; }
    .section.our--strategy .tile.tile--one {
      -webkit-clip-path: polygon(2% 5%, 5% 85%, 90% 100%, 100% 0%);
      clip-path: polygon(2% 5%, 5% 85%, 90% 100%, 100% 0%); }
    .section.our--strategy .tile.tile--two {
      -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%); }
    .section.our--strategy .tile.tile--three {
      -webkit-clip-path: polygon(0% 0%, 10% 100%, 90% 95%, 100% 0%);
      clip-path: polygon(0% 0%, 10% 100%, 90% 95%, 100% 0%); }
    .section.our--strategy .tile.tile--four {
      -webkit-clip-path: polygon(10% 0%, 0% 95%, 100% 100%, 95% 0%);
      clip-path: polygon(10% 0%, 0% 95%, 100% 100%, 95% 0%); }
    .section.our--strategy .tile.tile--five {
      -webkit-clip-path: polygon(5% 0%, 10% 100%, 100% 90%, 90% 0%);
      clip-path: polygon(5% 0%, 10% 100%, 100% 90%, 90% 0%); }
  .section.our--strategy .our--strategy__top--right--element {
    position: absolute;
    top: 0;
    right: 0;
    background: #f63495;
    width: 30rem;
    height: 7rem;
    content: "";
    -webkit-clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 100% 0%); }

.section.our--management {
  position: relative;
  padding-top: 15rem;
  padding-bottom: 15rem;
  background: #eeeeee; }
  .section.our--management .our--management__team--member .our--management__team--member__image {
    position: relative; }
    .section.our--management .our--management__team--member .our--management__team--member__image img {
      width: 100%; }
  .section.our--management .our--management__top--left--element {
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    content: "";
    -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 100% 100%, 100% 0); }
  .section.our--management .our--management__bottom--right--element {
    background: #f63495;
    position: absolute;
    bottom: -5rem;
    right: 0;
    width: 50%;
    height: 10rem;
    content: "";
    -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
    clip-path: polygon(100% 0, 0 50%, 100% 100%); }

.section.services {
  position: relative;
  padding-top: 10rem;
  padding-bottom: 20rem; }
  .section.services .services__bottom--left--element {
    background: #eeeeee;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    content: "";
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
    clip-path: polygon(0 0, 0 100%, 100% 100%); }
  .section.services .services__bottom--right--element {
    background: #f63495;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 10rem;
    content: "";
    -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
    clip-path: polygon(100% 0, 0 50%, 100% 100%); }
  .section.services h2 {
    color: #001e37; }
  .section.services h5 a {
    color: #f63495; }
  .section.services .services__tile {
    border: 1px solid #eeeeee;
    position: relative;
    -webkit-box-shadow: 0 1px 4px #eeeeee, 0 0 40px #eeeeee;
    -moz-box-shadow: 0 1px 4px #eeeeee, 0 0 40px #eeeeee;
    box-shadow: 0 1px 4px #eeeeee, 0 0 40px #eeeeee; }
    .section.services .services__tile img {
      width: 100%; }

.section.services__page {
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .section.services__page h2 {
    color: #001e37; }
  .section.services__page h5 a {
    color: #f63495; }
  .section.services__page .services__page--tile {
    background-repeat: no-repeat;
    background-size: contain !important; }
    .section.services__page .services__page--tile.services__page--tile__sea {
      background: url(../images/assets/sea.jpg); }
    .section.services__page .services__page--tile.services__page--tile__road {
      background: url(../images/assets/road.jpg); }
    .section.services__page .services__page--tile.services__page--tile__air {
      background: url(../images/assets/air.jpg);
      background-size: 75% !important;
      background-position: -150px -117px !important; }
    .section.services__page .services__page--tile.services__page--tile__specialist--services {
      background: url(../images/assets/services.jpg);
      background-position: 470px center !important; }
    .section.services__page .services__page--tile.services__page--tile__customs {
      background: url(../images/assets/customs.jpg); }
    .section.services__page .services__page--tile .services__page--tile__content {
      position: relative;
      background: #f63495;
      color: #001e37; }
      .section.services__page .services__page--tile .services__page--tile__content .services__page--tile__content--element {
        background: #f63495;
        position: absolute;
        z-index: 1;
        width: 100px;
        height: 100%;
        content: ""; }
    .section.services__page .services__page--tile:nth-child(odd) {
      background-position: left center; }
      .section.services__page .services__page--tile:nth-child(odd) .services__page--tile__content .services__page--tile__content--element {
        top: 0;
        left: -90px;
        -webkit-clip-path: polygon(75% 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(75% 0, 100% 0%, 100% 100%, 0% 100%); }
    .section.services__page .services__page--tile:nth-child(even) {
      background-position: right center; }
      .section.services__page .services__page--tile:nth-child(even) .services__page--tile__content .services__page--tile__content--element {
        top: 0;
        right: -90px;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 25% 100%, 0 100%);
        clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0 100%); }

.section.global--network {
  background: #eeeeee;
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .section.global--network .global--network__div {
    position: relative;
    min-height: 200px;
    background: url("../images/assets/world-map.png") no-repeat;
    background-size: 100%;
    min-height: 800px; }
    .section.global--network .global--network__div .global--network__office {
      position: absolute; }
      .section.global--network .global--network__div .global--network__office.moscow--office {
        top: 200px;
        left: 55%; }
      .section.global--network .global--network__div .global--network__office .small {
        transform: all 0.5s;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #f63495;
        font-size: 0;
        opacity: 1;
        position: relative;
        top: 50%;
        left: 50%;
        margin-top: -5px;
        margin-left: -5px; }
      .section.global--network .global--network__div .global--network__office .big {
        transform: all 0.5s;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        padding: 25px;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -100px;
        background: #f63495;
        opacity: 0; }
      .section.global--network .global--network__div .global--network__office:hover .small {
        opacity: 0; }
      .section.global--network .global--network__div .global--network__office:hover .big {
        opacity: 1; }

.section.current--vacancies {
  background: #ffffff;
  padding-top: 10rem;
  padding-bottom: 20rem; }
  .section.current--vacancies .current--vacancies__vacancy {
    border: 1px solid #eeeeee;
    position: relative;
    -webkit-box-shadow: 0 1px 4px #eeeeee, 0 0 40px #eeeeee;
    -moz-box-shadow: 0 1px 4px #eeeeee, 0 0 40px #eeeeee;
    box-shadow: 0 1px 4px #eeeeee, 0 0 40px #eeeeee; }
    .section.current--vacancies .current--vacancies__vacancy .current--vacancies__vacancy--content h4 {
      color: #001e37; }
    .section.current--vacancies .current--vacancies__vacancy .current--vacancies__vacancy--content .current--vacancies__vacancy--content--div.more {
      display: none; }
      .section.current--vacancies .current--vacancies__vacancy .current--vacancies__vacancy--content .current--vacancies__vacancy--content--div.more.open {
        display: block;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s; }
    .section.current--vacancies .current--vacancies__vacancy .current--vacancies__vacancy--contact {
      border-left: 1px solid #eeeeee; }

.section.industries {
  padding-top: 10rem;
  padding-bottom: 20rem; }
  .section.industries .industries__tile a {
    width: 100%;
    position: relative; }
    .section.industries .industries__tile a i {
      position: absolute;
      top: -60px;
      left: 50%;
      margin-left: -25px;
      height: 48px;
      line-height: 42px;
      width: 48px;
      border-radius: 50% !important;
      background: #f63495;
      color: #ffffff;
      border: 2px solid #f63495; }
      .section.industries .industries__tile a i.fi {
        font-size: 24px;
        text-align: center;
        font-family: "Flaticon"; }
        .section.industries .industries__tile a i.fi.recycling::before {
          font-family: FontAwesome, "FontAwesome" !important;
          content: "" !important;
          position: relative;
          top: 1.5px; }
    .section.industries .industries__tile a h5 {
      margin-top: 65px;
      font-size: 1rem;
      color: #333333; }
    .section.industries .industries__tile a:hover i {
      background: #ffffff;
      color: #f63495;
      border-color: #f63495; }
    .section.industries .industries__tile a:hover h5 {
      text-decoration: none; }
  .section.industries .industries__tile.industries__tile--your_industry a i {
    height: 48px;
    line-height: 42px;
    width: 48px;
    border-radius: 50% !important;
    background: #ffffff;
    color: #f63495;
    border: 2px solid #f63495; }
  .section.industries .industries__tile.industries__tile--your_industry a h5 {
    font-size: 1rem;
    color: #333333; }
  .section.industries .industries__tile.industries__tile--your_industry a:hover i {
    background: #f63495;
    color: #ffffff;
    border-color: #f63495; }
  .section.industries .industries__tile.industries__tile--your_industry a:hover h5 {
    text-decoration: none; }

.section.contact--form {
  padding-top: 10rem;
  padding-bottom: 5rem;
  position: relative;
  background: #001e37;
  background: -webkit-linear-gradient(bottom, #003e6f 0%, #002039 100%);
  background: -o-linear-gradient(bottom, #003e6f 0%, #002039 100%);
  background: linear-gradient(to top, #003e6f 0%, #002039 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003e6f', endColorstr='#002039', GradientType=1 ); }
  .section.contact--form a {
    color: #f63495; }
  .section.contact--form h2 {
    color: #ffffff; }
  .section.contact--form .contact--form__top--left--element {
    background: #f63495;
    position: absolute;
    top: -3rem;
    left: 0;
    width: 30%;
    height: 6rem;
    content: "";
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
    clip-path: polygon(0 0, 0 100%, 100% 50%); }
  .section.contact--form .contact--form__top--right--element {
    background: #ffffff;
    position: absolute;
    top: -3rem;
    right: 0;
    width: 50%;
    height: 6rem;
    content: "";
    -webkit-clip-path: polygon(100% 0, 0 25%, 100% 100%);
    clip-path: polygon(100% 0, 0 25%, 100% 100%); }
  .section.contact--form .form-group label {
    color: #ffffff; }

.footer {
  background: #002039;
  color: #ffffff;
  font-size: 1em; }
  .footer ul {
    padding: 1rem 0;
    list-style: none;
    display: flex; }
    .footer ul li {
      line-height: 0.75em;
      display: flex;
      padding: 0 0 0 0.5rem;
      margin-left: 0.5rem; }
      .footer ul li:first-child {
        margin-left: 0;
        padding-left: 0;
        border-left: 0 !important; }
    .footer ul.legal li {
      border-left: 1px solid #ffffff; }
      .footer ul.legal li a {
        color: #ffffff; }
    .footer ul.none-legal li {
      border-left: 1px solid #ffffff; }
      .footer ul.none-legal li a {
        color: #f63495; }

.copyrights {
  padding-top: 1rem;
  background: #001a2f;
  color: #ffffff; }
  .copyrights p {
    margin-bottom: 0;
    padding-bottom: 1rem; }

@media (max-width: 767px) {
  .intro__bottom--left--element__header--one,
  .intro__bottom--left--element__header--two {
    display: none; }
  section.section.services__page .services__page--tile {
    background-size: 100% 100% !important; }
    section.section.services__page .services__page--tile:nth-child(odd) {
      background-position: left top !important; }
    section.section.services__page .services__page--tile:nth-child(even) {
      background-position: right top !important; }
  .navbar .navbar-collapse .navbar-nav {
    display: table; }
    .navbar .navbar-collapse .navbar-nav li.nav-item {
      display: table-row;
      width: 100%;
      float: left; }
      .navbar .navbar-collapse .navbar-nav li.nav-item select {
        width: 50%;
        position: relative;
        left: 25%;
        top: 13px;
        height: 44px; }
      .navbar .navbar-collapse .navbar-nav li.nav-item a.nav-link {
        border-bottom: 1px solid #eeeeee;
        width: 100%;
        float: left;
        padding: auto 0;
        text-align: center; }
        .navbar .navbar-collapse .navbar-nav li.nav-item a.nav-link.active {
          background: #eeeeee;
          border-bottom: 1px solid #eeeeee; }
        .navbar .navbar-collapse .navbar-nav li.nav-item a.nav-link:hover {
          background: #f63495;
          color: #ffffff;
          border-bottom: 1px solid #eeeeee; } }
