$brand-primary:   #f63495;
$brand-secondary: #001e37;
$brand-secondary-rgb: rgba(0, 30, 55, 1);
$brand-secondary-rgb-lighter: rgba(0, 65, 110, 1);

$about-us-tile-top: rgba(2, 74, 124, 1);
$about-us-tile-bottom: rgba(2, 65, 116, 0.25);

$contact-us-top: rgba(0, 32, 57, 1);
$contact-us-bottom: rgba(0, 62, 111, 1);

$link-colour: $brand-secondary;
$footer-color: #002039;