$border-radius-base: 3px !default;
$border-radius-small: 2px !default;
$border-radius-large: 6px !default;
$border-radius-huge: 10px !default;
$border-radius-label: 12px !default;
$border-radius-extreme: 30px !default;

// Typography
$font-family-sans-serif: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$font-family-serif: 'Roboto Slab', 'Times New Roman', serif !default;

$headings-font-weight: 300 !default;

$font-weight-light: 300 !default;
$font-weight-default: 400 !default;
$font-weight-bold:    500 !default;
$font-weight-extra-bold: 700 !default;
$font-weight-ultra-bold: 900 !default;

a{
	&.with-icon{
		&::after{
			font-family: 'Material Icons';
			content: "chevron_right";
			-webkit-font-feature-settings: 'liga' 1;
			-moz-font-feature-settings: 'liga' 1;
			font-feature-settings: 'liga' 1;
			padding-left: 0.15em;
			position: relative;
			transition: 0.15s padding ease;
			top: 4px;
		}
		&:hover{
			text-decoration: none;
			&::after{
				padding-left:0.5em;
			}
		}
	}
}