.footer{
	background: $footer-color;
	color: $white;
	font-size:1em;
	ul{
		padding:1rem 0;
		list-style: none;
		display: flex;
		li{
			line-height: 0.75em;
			display: flex;
			padding: 0 0 0 0.5rem;
			margin-left: 0.5rem;
			&:first-child{
				margin-left: 0;
				padding-left: 0;
				border-left: 0!important;
			}
		}
		&.legal{
			li{
				border-left: 1px solid $white;
				a { color:$white; }
			}
		}
		&.none-legal{
			li{
				
				border-left: 1px solid $white;
				a { color:$brand-primary; }
			}
		}
	}
}
.copyrights{
	padding-top:1rem;
	background: darken($footer-color, 2%);
	color: $white;
	& p{
		margin-bottom:0;
		padding-bottom:1rem;
	}
}