.header{
	height:70px;
	background: $white;
	border-bottom:1px solid $grey;
	> .row{
		margin:0!important;
	}
	ul {
		&.lng-nav{
			li{
				> a{
					line-height: 70px;
					padding:0 2rem;
					border-left:1px solid $grey;
				}
			}
		}
	}
}
.menu{
	width: 100%;
}
.navbar{
	padding:0;
	.navbar-collapse{
		.navbar-nav{
			li{
				&.nav-item{
					height:70px;
					a {
						padding-top:0;
						padding-bottom: 0;
						font-size: 1.1em;
						&.nav-link{
							padding:0 2rem;
							color: $link-colour;
							height:70px;
							line-height: 65px;
							border-bottom-color: $white;
							&:hover, &.active{
								border-bottom:5px solid $brand-primary;
							}
							&.active{
								font-weight: $font-weight-bold;
								border-bottom:5px solid $brand-primary;
							}
						}
					}
				}
			}
		}
	}
}
.navbar-toggler{
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 9;
	& i{
		font-size: 40px;
		top: -4px;
    	position: relative;
	}
	&.collapsed{
		& .navbar-toggler-icon{
			& #close{ 
				display:none; 
			}
			& #menu{ 
				display:block; 
			}
		}
	}
	& .navbar-toggler-icon{
		& #close{ 
			display:block; 
		}
		& #menu{ 
			display:none; 
		}
	}
	
}