.header{
	height:70px;
	background: $white;
	border-bottom:1px solid $grey;
	> .row{
		margin:0!important;
	}
	ul {
		&.lng-nav{
			li{
				> a{
					line-height: 70px;
					padding:0 2rem;
					border-left:1px solid $grey;
				}
			}
		}
	}
}
.menu{
	width: 100%;
}